<div class="container-home" id="home">
    <div class="text-home">
        <div>
        <h1 class="text-dark-home">John Gualteros.</h1>
        <h2 class="text-yellow-home">Full Stack Developer</h2>
            <a href="mailto:gualterosjohn40@gmail.com"><button class="button-contact">Contact Me</button></a>

            <p class="scroll-home"><span>&larr;</span>Scroll</p>
        </div>
    </div>
    <div class="menu-home" data-aos="fade-left" data-aos-delay="1000">
        <a href="#home" class="link-home">Home</a><br>
        <a href="#about" class="link-home">About</a><br>
        <a href="#projects" class="link-home">Projects</a><br>
    </div>
</div>